## IMPUTACIÓN DE DATOS FALTANTES

1-Importar las librerrías necesarias

In [192]:
import pandas as pd
from sklearn.impute import KNNImputer

2-Lectura del archivo

In [193]:
df=pd.read_csv('C:/Users/WAGNER FERNÁNDEZ/OneDrive - POLICIA NACIONAL DE COLOMBIA/Documents/Ciencia de Datos/PROYECTOS/IMPUTACION-DE-DATOS FALTANTES/raw/offers.csv')
df.head(5)

,Id,Use Case,Status,Created Date,Close Date,Price,Discount code,Pain,Loss Reason
0,doqyhjtv,Educational Seminars,Closed Won,2019-11-17,2019-11-17,300.0,SAVEMORE50,operations,NaN
1,NaN,Sports Events,Closed Lost,2019-11-24,2019-11-25,150.0,NaN,operations,price
2,NaN,Sports Events,Closed Lost,2019-11-24,2019-11-25,768.0,HALFYEAR20G,operations,no response
3,cturqi48,Corporate Events,Closed Won,2019-05-07,2019-05-07,240.0,DISCOUNT50POWER,financial control,NaN
4,NaN,Sports Events,Closed Lost,2019-11-17,2019-11-25,240.0,SAVEMONTH50G,financial control,no response

3-Imputación de columnas del dataframe con valores clave

In [194]:
df['Id'].fillna('doqyhjtv', inplace=True)
df['Discount code'].fillna('HALFYEAR20G', inplace=True)
df['Pain'].fillna('operations', inplace=True)
df

,Id,Use Case,Status,Created Date,Close Date,Price,Discount code,Pain,Loss Reason
0,doqyhjtv,Educational Seminars,Closed Won,2019-11-17,2019-11-17,300.0,SAVEMORE50,operations,NaN
1,doqyhjtv,Sports Events,Closed Lost,2019-11-24,2019-11-25,150.0,HALFYEAR20G,operations,price
2,doqyhjtv,Sports Events,Closed Lost,2019-11-24,2019-11-25,768.0,HALFYEAR20G,operations,no response
3,cturqi48,Corporate Events,Closed Won,2019-05-07,2019-05-07,240.0,DISCOUNT50POWER,financial control,NaN
4,doqyhjtv,Sports Events,Closed Lost,2019-11-17,2019-11-25,240.0,SAVEMONTH50G,financial control,no response
...,...,...,...,...,...,...,...,...,...
6125,doqyhjtv,Corporate Events,Closed Lost,2019-05-20,2019-05-21,120.0,HALFYEAR20G,operations,price
6126,doqyhjtv,Wedding Planning,Closed Won,2019-05-20,2019-05-20,NaN,HALFYEAR20G,operations,NaN
6127,88tre7ve,Corporate Events,Closed Lost,2019-05-20,2019-05-20,768.0,2SEMESTERS20OFF,operations,no response
6128,2d15fo90,Corporate Events,Closed Lost,2019-05-20,2019-05-26,1344.0,HALFYEAR20G,operations,no product fit
6129,9k6zoun6,Sports Events,Closed Won,2019-05-20,2019-05-21,240.0,SAVEMONTH50G,operations,NaN

4-Eliminar columna no relevante

In [195]:
df.drop('Loss Reason',axis=1, inplace=True)

5-Imputar columna "Price" por medio de KNN los valores faltantes

In [196]:
# Crear un nuevo dataframe sin los valores faltantes
df_filled = df.copy()
# Aplicar la imputación por KNN
imputer = KNNImputer(n_neighbors=1)
df_filled['Price'] = imputer.fit_transform(df[['Price']])
# Mostrar el dataframe con los valores imputados
df_filled.to_csv('C:/Users/WAGNER FERNÁNDEZ/OneDrive - POLICIA NACIONAL DE COLOMBIA/Documents/Ciencia de Datos/PROYECTOS/IMPUTACION-DE-DATOS FALTANTES/output/offers_imputed.csv')